.navbar {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: white;
    list-style: none;
    text-decoration: none;
    padding: 5px 30px;
    width: 10%;
}
button {
    cursor: pointer;
}
.navbar li {
    list-style: none;
    text-decoration: none;
    cursor: pointer;
}
.navbar li img {
    height: 50px;
}
.navbar li:nth-child(2) {
    color: #fc6052;
}
.welcome-page-hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 50px;
    padding: 50px 80px;
    background-image: url("../img/vixve1.png");
    background-repeat: no-repeat;
    background-color: blueviolet;
}
.welcome-page-hero__left--title {
    text-align: left;
    font-family: "Open Sans", sans-serif;
    font-size: 50px;
    color: white;
    margin-bottom: 50px;
    font-weight: 700;
}
.welcome-page-hero__left--desc {
    text-align: left;
    font-family: "Open Sans", sans-serif;
    color: white;
    font-size: 22px;
    margin-bottom: 60px;
    font-weight: 400;
}
.vixve-img-container {
    margin: 0;
}
.vixve-img-container__img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.hero-buttons {
}
.hero-buttons__demo {
    padding: 15px;
    font-size: 18px;
    font-weight: 700;
    background-color: white;
    border: transparent;
    border-radius: 5px;
    color: black;
    transition: all 0.3s linear;
    min-width: 210px;
    margin-right: 15px;
    margin-bottom: 15px;
}
.hero-buttons__demo:hover {
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 50%);
    opacity: 0.8;
}
.hero-buttons__trial {
    padding: 15px;
    font-weight: 700;
    font-size: 18px;
    color: white;
    border: 1px white solid;
    background-color: transparent;
    border-radius: 5px;
    min-width: 210px;
}
.hero-buttons__trial:hover {
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 50%);
    opacity: 0.8;
    border: 1px solid transparent;
    border-color: #fff;
}
.reviews-container {
}
.reviews-container .reviews-container__title {
    margin: 70px 40px 0 0;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 54px;
    color: rgb(255, 0, 98);
}
.reviews-container .reviews-container__subtitle {
    font-family: "Helvetica", "Arial", sans-serif;
    text-align: center;
    font-size: 22px;
    letter-spacing: 0;
    margin: 40px 80px;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 400;
}
.reviews-container .reviews-container__articles {
    display: grid;
    gap: 60px;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 4px;
    margin: 0 100px;
    padding: 0 0 70px 0;
}
.reviews-container__articles .article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 25px;
    background-color: white;
    box-shadow: 0 6px 12px 0 rgb(0 0 0 / 10%);
    transition: all 0.5s;
    border-radius: 5px;
}
.reviews-container__articles .article:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
.reviews-container__articles .article span strong {
    cursor: pointer;
}
.reviews-container__articles .article-img-container {
    margin: 0;
}
.reviews-container__articles span {
    font-size: 16px;
    color: rgb(255, 0, 98);
}
.reviews-container__articles span:hover {
    color: rgb(207, 117, 117);
}
.article-img-container__img {
    zoom: 50%;
    height: 270px;
}
.article__person-position {
    margin-top: 15px;
    font-family: "Helvetica", "Arial", sans-serif;
    color: rgba(0, 0, 0, 0.87);
}
.article__person-opinion {
    font-family: "Helvetica", "Arial", sans-serif;
    color: rgba(0, 0, 0, 0.87);
}
.company-values {
    display: grid;
    gap: 10px;
    grid-template-columns: 40% 60%;
    grid-template-areas: "left right";
    background-color: #f8f8f9;
    padding: 80px 0;
}
.company-values__left {
    grid-area: left;
    padding: 0;
    margin-left: 40px;
}
.company-values__left .company-values__left--promise {
    font-size: 50px;
    font-weight: 600;
    line-height: 70px;
}
.company-values__left .company-values__left--promise span {
    color: #ff0045;
}
.company-values__left .underline {
    position: relative;
    display: inline-block;
    width: 82px;
    height: 7px;
    background-color: #ff0045;
    border-radius: 13px;
}
.company-values__left .underline i {
    position: absolute;
    top: 0;
    right: -34px;
    width: 20px;
    height: 7px;
    background-color: #ff0045;
    border-radius: 13px;
}
.company-values .company-values__right {
    grid-area: right;
    display: grid;
    justify-content: flex-end;
    gap: 35px;
    grid-template-columns: 44% 44%;
    padding: 0;
    margin-right: 41px;
}
.company-values .company-values__right article {
    border-radius: 5px;
    box-shadow: 0px 3px 35px 0px rgb(0 0 0 / 14%);
    padding: 25px;
    transition: all 0.3s linear;
    background-color: white;
}
.company-values .company-values__right article:hover {
    box-shadow: 6px 8px 35px 0px rgb(254 76 156 / 74%);
    background: rgb(236, 41, 110);
    color: white;
}
.company-values .company-values__right .article__title {
    font-size: 32px;
    margin-top: 15px;
}
.company-values .company-values__right .article__subtitle {
    font-size: 16px;
    margin-top: 10px;
}
.company-values .article span {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url("../img/cohete.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.company-values .article .flat-rocket-icon {
    background-image: url("../img/rocket.svg");
}
.company-values .article .team-icon {
    background-image: url("../img/team.svg");
}
.company-values .article .elearning-icon {
    background-image: url("../img/elearning.svg");
}
.company-values .article .discussion-icon {
    background-image: url("../img/discussion.svg");
}
@media (max-width: 1024px) {
    .company-values {
        display: grid;
        gap: 60px 0;
        grid-template-columns: 1fr;
        grid-template-areas:
            "left left"
            "right right";
    }
}
@media (max-width: 768px) {
    .welcome-page-hero {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
        align-items: center;
        row-gap: 33px;
        height: auto;
    }
    .welcome-page-hero__left--title {
        text-align: center;
    }
    .welcome-page-hero__left--desc {
        text-align: center;
    }
    .hero-buttons__demo {
        width: 100%;
        margin: 0 0 20px 0;
    }
    .hero-buttons__trial {
        width: 100%;
        margin: 0;
    }
    .reviews-container .reviews-container__title {
        margin: 70px 0 0 0;
    }
    .reviews-container .reviews-container__subtitle {
        margin: 40px;
    }
    .reviews-container .reviews-container__articles {
        display: grid;
        gap: 60px;
        grid-template-columns: 1fr;
        border-radius: 4px;
        margin: 0 100px;
        padding: 0 0 70px 0;
    }
}
@media (max-width: 380px) {
    .welcome-page-hero__left--title {
        font-size: 37px;
    }
    .welcome-page-hero {
        padding: 50px 20px;
    }
    .reviews-container .reviews-container__articles {
        margin: 0 30px;
    }
    .reviews-container .reviews-container__title {
        font-size: 34px;
        line-height: 45px;
    }
}
